<div class="app-header">
	<div class="app-content-wrapper app-header__content-wrapper">
		<div class="app-header__logo"><a routerLink="">Awesome Theater</a></div>
		<div class="app-header__menu">
			<a
				class="app-header__menu__item"
				routerLink=""
				routerLinkActive="app-header__menu__item--active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				Schedule
			</a>
			<a class="app-header__menu__item" routerLink="selections" routerLinkActive="app-header__menu__item--active">
				Selections [{{ amountOfSelections$ | async }}]
			</a>
			<a class="app-header__menu__item" routerLink="location" routerLinkActive="app-header__menu__item--active">
				Location
			</a>
			<a class="app-header__menu__item" routerLink="login" routerLinkActive="app-header__menu__item--active">
				Internal
			</a>
		</div>
	</div>
</div>
