$colors__primary: #004d40;
$colors__primary--light: #39796b;
$colors__primary--dark: #00251a;

$colors__secondary: #f44336;
$colors__secondary--light: #a78172;
$colors__secondary--dark: #4a2b20;

$colors__background: #c0c0c0;
$colors__background--light: #f5f5f6;
$colors__background--dark: #303030;

$colors__text: $colors__background--dark;
$colors__text--light: $colors__background--light;
