@import 'constants/colors';

.app-selections-listing {
	&:host {
		display: block;
		border-radius: 0 20px;
		background-color: $colors__background--dark;
		overflow: hidden;
	}

	&__detail {
		color: $colors__text--light;
		margin: 0.75rem;

		&:last-of-type {
			margin-bottom: 2rem;
		}
	}

	&__seat:not(:last-of-type):after {
		display: inline;
		content: ', ';
	}
}
