<form [formGroup]="formGroup" (ngSubmit)="onSubmit_form()">
	<label class="app-label" for="firstName">
		First Name
	</label>
	<input class="app-input" id="firstName" formControlName="firstName" type="text" />

	<label class="app-label" for="lastName">
		Last Name
	</label>
	<input class="app-input" id="lastName" formControlName="lastName" type="text" />

	<label class="app-label" for="email">
		E-Mail*
	</label>
	<input class="app-input" id="email" formControlName="email" type="text" required />

	<input class="app-button app-button--full-width" type="submit" value="Make Reservation" />
</form>
