<div class="app-header">
	<div class="app-content-wrapper app-header__content-wrapper">
		<div class="app-header__logo"><a href="#">Awesome Theater</a></div>
		<div class="app-header__menu">
			<a class="app-header__menu__item app-header__menu__item--active" href="#">
				Schedule
			</a>
			<a class="app-header__menu__item" href="#">
				Selections [0]
			</a>
			<a class="app-header__menu__item" href="#">
				Location
			</a>
			<a class="app-header__menu__item" href="#">
				Internal
			</a>
		</div>
	</div>
</div>

<app-schedule></app-schedule>

<div class="app-root__footer app-footer">
	<div class="app-content-wrapper app-footer__link-container">
		<div class="app-footer__link">About</div>
		<div class="app-footer__link">Contact</div>
		<div class="app-footer__link">Career</div>
		<div class="app-footer__link">Privacy Policy</div>
		<div class="app-footer__link">Terms and Policies</div>
	</div>
</div>
