@import 'constants/colors';

.app-seat-selection {
	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 4fr 2fr;
		column-gap: 1rem;
	}

	&__title {
		grid-row: 1;
		grid-column: 1 / 3;
	}

	&__movie-overview {
		grid-row: 2;
		grid-column: 1;
		height: min-content;
		border-radius: 0 20px;
		overflow: hidden;
		background-color: $colors__background--light;
	}

	&__poster {
		> img {
			width: 100%;
		}
	}

	&__seat-selector {
		grid-row: 2;
		grid-column: 2;
		height: min-content;
	}

	&__seat-selection-summary {
		grid-row: 2;
		grid-column: 3;
		height: min-content;
	}
}
