@import 'constants/colors';
@import 'constants/structure';

.app-footer {
	&:host {
		display: block;
		margin-top: 3rem;
		background-color: $colors__primary--dark;
	}

	&__link-container {
		display: flex;
		height: $structure__footer-height;
		justify-content: center;
		align-items: center;
	}

	&__link {
		padding: 0 1rem;
		color: $colors__text--light;
	}
}
