@import 'constants/colors';

.app-seat-selector {
	&:host {
		display: grid;
		grid-template:
			'title title'
			'screen screen'
			'seats seats'
			'legend buttons' / 1fr 1fr;
		background-color: $colors__background--light;
		border-radius: 0 20px;
		background-color: $colors__background--dark;
		overflow: hidden;
	}

	&__title {
		grid-area: title;
		margin: 0;
	}

	&__screen {
		grid-area: screen;
		position: relative;
		width: 80%;
		margin: 3rem auto;
		padding-bottom: 10%;

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 30%;
			background-color: $colors__background--light;
			transform: skewX(30deg);
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 30%;
			bottom: 0;
			right: 0;
			background-color: $colors__background--light;
			transform: skewX(-30deg);
		}
	}

	&__seats {
		grid-area: seats;
		margin: 0 auto 3rem;
		width: calc(100% - 6rem);

		&__row {
			display: flex;
			margin-bottom: 20px;
			justify-content: center;
		}

		&__seat {
			width: 20px;
			min-width: 20px;
			font-size: 0.6rem;

			&:not(:last-of-type) {
				margin-right: 5px;
			}
		}
	}

	&__legend {
		grid-area: legend;
		background-color: $colors__background--light;
		margin: 0 1rem 2rem 2rem;
		padding: 1rem;
		border: 3px solid $colors__primary--light;
		border-radius: 0 10px;

		&__row {
			display: flex;
			align-items: center;
			margin-bottom: 0.5rem;
			font-size: 0.9rem;
		}

		&__seat {
			width: 20px;
			min-width: 20px;
			padding-bottom: 4px;
		}

		&__label {
			flex-grow: 1;
			margin-left: 1rem;
		}
	}

	&__buttons {
		grid-area: buttons;
		margin: 0 2rem 2rem 1rem;
	}

	&__button {
		display: block;
		width: 100%;
	}
}
